$parallax-height: 80vh;
$center-margin: 0px auto;

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin parallax-background($file) {
  background: url($file) no-repeat center center fixed;
  @include background-size(cover);
}

html,
body {
  height:100%;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: #2e3738;
  font-weight: 300;
}

#landscape {
  padding-top: 5%;
  @include parallax-background("../imgs/background_7.jpg");
  height: $parallax-height;
  width: 100%;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto;

	h1{
		text-transform: uppercase;
    letter-spacing: 0.06em;
    font-size: 5vh;
    color: white;
    opacity: 1;
    text-align: center;
	}
}

.maintext {
	padding: 5%;
	margin: $center-margin;
	text-align: center;
}

p {
  font-size: 20px;
	font-weight: 200;
	line-height: 1.4;
}

.title {
  text-align: center;
}

.profile {
  width: 30vh;
  height: 30vh;
  // width: 260px;
  // height: 260px;
  margin: $center-margin;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 145px;
}


footer {
  font-size: 12px;
  padding: 40px 0;
  
  .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }

  ul {
    list-style: none;
  }
  li img {
    width: 32px;
    height: 32px;
  }

}
